html {
	box-sizing: border-box;
	min-height: 100%;
	height: 100%;
	font-family: 'Raleway';
}
body {
	box-sizing: border-box;
	height: 100%;
	min-height: 100%;
}
*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
textarea {
	resize: none;
}

/******* GENERAL *******/

.white {
	color: white;
}

.thin {
	font-weight: 100;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

/******* ROOT *******/

.root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


/******* HEADER *******/

.header-root {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	padding: 30px;
	display: flex;
	justify-content: center;
	transition-property: background-color, padding;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-center {
	width: 1100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	font-size: 35px;
	font-weight: 700;
}

.header-links {
	width: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header-link {
	text-decoration: none;
	margin-left: 40px;
}

/******* COVER *******/

.root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cover-img {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.cover-headers {
	width: 1100px;
	display: flex;
	flex-direction: column;
}

/******* POST PREVIEW *******/

.post-preview-root {
	width: 640px;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 1;
	margin-top: 100px;
}

.post-preview-root:last-of-type {
	margin-bottom: 100px;
}

.post-preview-cover-img {
	width: 640px;
}

.post-preview-info {
	margin-top: 30px;
	width: 450px;
	display: flex;
	flex-direction: column;
}

.post-preview-description {
	width: 90%;
	margin-top: 20px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	max-height: 72px;
	overflow: hidden;
}

.post-preview-bottom {
	margin-top: 30px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.post-preview-created-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: min-content;
}

.post-preview-created-date {
	margin-left: 10px;
}

.post-preview-read-more-link {
	text-decoration: none;
	margin-left: 40px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}

/******* POST *******/

.post {
	width: 640px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.post-text {
	margin-top: 25px;
    width: 100%;
    font-size: 18px;
	line-height: 24px;
}

.post-img-link {
	width: 100%;
}

.post-img-link:hover {
	cursor: pointer;
}

.post-img {
	margin-top: 25px;
	width: 100%;
}


/******* ICONS *******/

.calendar-icon {
	width: 24px;
	height: 24px;
}